{% extends 'base.html.twig' %}

{% block title %}Charges{% endblock %}

{% block body %}

<h1 class="text-center mt-4 mb-4">
    <i class="fa fa-th-list"></i> Charges
</h1>

<div id="app">
    <Charges></Charges>
</div>

{% endblock %}

{% block css %}
    <style>

        .card-body {
            margin-top: -15px;   
            margin-left: -15px;
        }

        h5.card-title {
            margin-bottom: 10px;
        }

        h5.card-title > b{
            font-size: 20px !important;
        }

        .montantVignette {
            position: absolute;
            bottom: 0;
            right: 10px;
        }

        /* Portable */
        @media all and (max-device-width: 480px)
        {
            
        }

        /* Tablette */
        @media all and (min-device-width: 480px) and (max-device-width: 768px)
        {
            
        }

        /* Ecran large */
        @media all and (min-device-width: 1440px) 
        {
            
        }      
        
    </style>
{% endblock %}
