{% extends 'base.html.twig' %}

{% block title %}Alimentation{% endblock %}

{% block body %}

<div class="mt-4 mb-4" style="padding: 5px 0; color: whitesmoke !important">
    <h3 class="text-center">
        <i class="fa fa-cutlery" style="font-size: 0.8em"></i> Alimentation
    </h3>
</div>

<div id="appAlimentation"></div>

{% endblock %}

{% block css %}
<style>

    .modal-body {
        background-color: #3498db !important;
    }  

    .bg-info {
        background-color: #3498db !important;
    }

    .card-body {
        margin-top: -15px;   
        margin-left: -15px;
    }

    h5.card-title {
        margin-bottom: 10px;
    }

    h5.card-title > b{
        font-size: 20px !important;
    }

    /* Portable */
    @media all and (max-device-width: 480px)
    {
        #btnSaverCharge {
            height: 65px !important;
        }
        /* Modal plus large */
        .modal-content {
            width: 700px;
            margin-left: -100px !important;
        }
        .container {
            max-width: 950px !important;
        }
    }

    /* Tablette */
    @media all and (min-device-width: 480px) and (max-device-width: 768px)
    {
        /* Modal plus large */
        .modal-content {
            width: 700px;
            margin-left: -100px !important;
        }
        .container {
            max-width: 950px !important;
        }
    }

    /* Ordinateur */
    @media all and (min-device-width: 769px) and (max-device-width: 1439px)
    {
        /* Modal plus large */
        .modal-content {
            width: 700px;
            margin-left: -100px !important;
        }
    }

    /* Ecran large */
    @media all and (min-device-width: 1440px) 
    {
        /* Modal plus large */
        .modal-content {
            width: 700px;
            margin-left: -100px !important;
        }
    }      
    
</style>
{% endblock %}
